body{
    background-color: hsl(189, 84%, 93%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

    

.grid-container{
    background-color: rgb(215, 240, 205);
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
   

   
}

.grid-item{
    background-color: rgb(215, 193, 218);
    text-align: center;
    border-radius: 8PX;
    padding: 20px;
   

   


}
.subgrid-container{
    background-color: rgb(215, 193, 218);
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
  padding: 20px;
  border-radius: 8px;

}
.subgrid-item{
    background-color: rgb(238, 252, 199);
    text-align: center;
}